* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Sen", sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.body {
    width: 80vw;
    padding-top: 5%;
    margin: auto;
}


h1 {
    margin-bottom: 30px;
}

body {
    overflow: scroll;
}

input,
select {
    width: 100%;
    padding: 5px;
    margin: 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 1em;
}

select:invalid {
    color: #757575;
}

select:focus-visible {
    background-color: #ddd;
    outline: none;
}

input:focus {
    background-color: #ddd;
    outline: none;
}


button:hover {
    background-color: black;
}

.header {
    font-size: 1em;
    background-color: black;
    user-select: none;
}

.header-content {
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.header-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.main-menu-element {
    padding: 20px;
}

.main-menu-element:hover {
    background-color: #609BFF;
}

.header a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link a {
    color: dodgerblue;
}