<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div data-id="posts"></div>
    <header class="header">
        <div class="header-content">
            <div class="site-name">
                <h2>Оценки</h2>
            </div>
            <nav class="menu">
                <ul class="header-menu">
                    <li class="main-menu-element">
                        <a href="index.html">Информация</a>
                    </li>
                    <li class="main-menu-element">
                        <a href="registration.html">Регистрация</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li class="main-menu-element main-menu-element-enter">
                        <a href="login.html">Войти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="body">
        <div class="assessments-header">
            <h1>Важная Информация</h1>
        </div>

        <div class="assessments-main-panel">
            Текст
        </div>
    </div>
</body>

</html>