<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div data-id="posts"></div>
    <% if (!token) { %>
        <%- include('partials/header') %> 
      <% } else { %>
        <%- include('partials/headerAuthorized') %>     
        <script src="/information.js" type="module"></script>
    <% } %>
      
    <div class="body">
        <div class="assessments-header">
            <h1>Важная информация</h1>
        </div>

        <div class="assessments-main-panel link">
            <a href="/api-docs" class="swagger">Документация к API</a>
        </div>
    </div>
    
</body>

</html>