<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/profile.css">
    <script src="/profile.js" type="module"></script>
</head>

<body>
    <div data-id="posts"></div>

    <%- include('partials/headerAuthorized') %>

    <div id="profile-form" class="profile-container">
        <div class="form-header">
            <div class="form-header-text">
                <h1 id="FullName"></h1>
                <p id="SubjectsName" class="subjectsContainer"></p>
                <p id="GroupName"></p>
                <p id="EmailName"></p>
            </div>
            <hr>
        </div>
        <div class="tabs">
            <div class="tab">
                <input type="radio" id="tab1" name="tab-group" checked>
                <label for="tab1" class="tab-title"><span class="tab-title-text">Безопасность</span></label>

                <section class="tab-content">
                    <form action="" class="form" id="change-sequrety-form">
                        <h4>Изменить email</h4>
                        <label for="Email">Email<span class="required">*</span></label>
                        <input type="email" id="Email" placeholder="Введите новый email" required>

                        <h4>Изменить пароль</h4>
                        <label for="Password">Пароль<span class="required">*</span></label>
                        <input type="password" id="Password-old" placeholder="Введите пароль" required>

                        <label for="Password">Новый пароль<span class="required">*</span></label>
                        <input type="password" id="Password" placeholder="Введите новый пароль" required>

                        <label for="Password">Повторите пароль<span class="required">*</span></label>
                        <input type="password" id="Password-repead" placeholder="Повторите пароль" required>


                        <button type="submit" class="button" id="change-sequrety-button">Изменить</button>
                        <hr>
                        <div class="container signin">
                            <p>По всем вопросам обращайтесь на почту: aaa@mail.ru</p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="tab">
                <input type="radio" id="tab2" name="tab-group">
                <label for="tab2" class="tab-title"><span class="tab-title-text">Данные</span></label>
                <section class="tab-content">
                    <form action="" class="form" id="change-name-form">
                        <h4>Изменить основные сведения</h4>
                        <label for="Name">Имя<span class="required">*</span></label>
                        <input type="text" id="Name" placeholder="Введите имя" required>

                        <label for="Surname">Фамилия<span class="required">*</span></label>
                        <input type="text" id="Surname" placeholder="Введите фамилию" required>

                        <label for="Patronymic">Отчество</label>
                        <input type="text" id="Patronymic" placeholder="Введите отчество">

                        <button type="submit" class="button" id="change-name-button">Изменить</button>
                        <hr>
                        <div class="container signin">
                            <p>По всем вопросам обращайтесь на почту: aaa@mail.ru</p>
                        </div>
                    </form>
                </section>
            </div>
            <% if (role !=='Student' ) { %>
                <div class="tab">
                    <input type="radio" id="tab3" name="tab-group">
                    <label for="tab3" class="tab-title"><span class="tab-title-text">Предметы</span></label>
                    <section class="tab-content">
                        <form action="" class="form" id="add-subject-form">
                            <h4>Добавить предмет группе</h4>
                            <div class="subject-container" id="subject-container">
                                <label for="Subject">Предмет<span class="required">*</span></label>
                                <select name="subject" id="Subject" class="select-box" required>
                                    <option value="" disabled selected class="disabled-selection" hidden>Выберите предмет</option>
                                </select>
                            </div>
                            <div class="group-container" id="group-container">
                                <label for="group-without-subject-choice">Группа<span class="required">*</span></label>
                                <select name="group" id="group-without-subject-choice" class="group select-box" required>
                                    <option value="" disabled selected class="disabled-selection" hidden>Выберите группу</option>
                                </select>
                            </div>
                            <button type="submit" class="button" id="add-subject-button">Добавить</button>
                        </form>
                        <form action="" class="form" id="delete-subject-form">
                            <h4>Убрать предмет у группы</h4>
                            <div class="subject-container" id="subject-container">
                                <label for="subject">Предмет<span class="required">*</span></label>
                                <select name="Subject" id="subject" class="select-box" required>
                                    <option value="" disabled selected class="disabled-selection" hidden>Выберите предмет</option>
                                </select>
                            </div>
                            <div class="group-container" id="group-container">
                                <label for="group-with-subject-choice">Группа<span class="required">*</span></label>
                                <select name="group" id="group-with-subject-choice" class="group select-box" required>
                                    <option value="" disabled selected class="disabled-selection" hidden>Выберите группу</option>
                                </select>
                            </div>
                            <button type="submit" class="button" id="delete-subject-button">Убрать</button>

                        </form>
                        <hr>
                        <div class="container signin">
                            <p>По всем вопросам обращайтесь на почту: aaa@mail.ru</p>
                        </div>
                    </section>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>