<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
    <script src="/registration.js" type="module"></script>
    <script src="/studentController.js" type="module"></script>
    <script src="/userController.js" type="module"></script>
</head>

<body>

    <header class="header">
        <div class="header-content">
            <div class="site-name">
                <h2>Оценки</h2>
            </div>
            <nav class="menu">
                <ul class="header-menu">
                    <li class="main-menu-element">
                        <a href="index.html">Информация</a>
                    </li>
                    <li class="main-menu-element">
                        <a href="registration.html">Регистрация</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li class="main-menu-element main-menu-element-enter">
                        <a href="login.html">Войти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="registration-form-container" class="form-container">
        <div class="form-header">
            <div class="form-header-text">
                <h1>Регистрация</h1>
                <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
            </div>
            <hr>
        </div>
        <form action="/login.html" class="form" id="registration-form">
            <div class="name-container" id="name-container">
                <label for="Name">Имя<span class="required">*</span></label>
                <input type="text" id="Name" placeholder="Введите имя" required>
            </div>

            <div class="surname-container" id="surname-container">
                <label for="Surname">Фамилия<span class="required">*</span></label>
                <input type="text" id="Surname" placeholder="Введите фамилию" required>
            </div>

            <div class="patronymic-container" id=""patronymic-container>
                <label for="Patronymic">Отчество</label>
                <input type="text" id="Patronymic" placeholder="Введите отчество">
            </div>

            <div class="email-container" id="email-container">
                <label for="Email">Email<span class="required">*</span></label>
                <input type="email" id="Email" placeholder="Введите email" required>
            </div>

            <div class="password-container" id="password-container">
                <label for="Password">Пароль<span class="required">*</span></label>
                <input type="password" id="Password" placeholder="Введите пароль" required>
            </div>

            <div class="password-repead-container" id="password-repead-container">
                <label for="Password">Повторите пароль<span class="required">*</span></label>
                <input type="password" id="Password-repead" placeholder="Повторите пароль" required>
            </div>


            <div class="radio-container" id="radio-container">
                <input type="radio" id="student" name="role" value="student" checked />
                <label for="student">Студент</label>
                <input type="radio" id="teacher" name="role" value="teacher" />
                <label for="teacher">Преподаватель</label>
            </div>

            <div class="group-container" id="group-container">
                <label for="Group">Группа<span class="required">*</span></label>
                <select name="group" id="Group" class="group select-box" required>
                    <option value="" disabled selected class="disabled-selection" hidden>Выберите вашу группу</option>
                </select>
            </div>


            <button type="submit" class="button" id="registration-button">Зарегистрироваться</button>
            <hr>
            <div class="container signin">
                <p>У вас уже есть аккаунт? <a href="login.html">Войти</a>.</p>
            </div>
        </form>
    </div>
</body>